.Rhistory
.RData
.Ruserdata/
.Rproj.user/
.DS_Store
.idea/
Thumbs.db
*.html
*.pdf

# Datos pesados o descargados
*.parquet
*.pkl
*.csv
*.json

# Ignorar todo lo descargado dentro de datos/
datos/*

# Pero permitir conservar un archivo vacío para que exista la carpeta datos/
!datos/.gitkeep
